.submit{
    width: 100px;
    background-color: beige;
    border: none;
    border-radius: 2%;
}
.CreateUser{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.newuser{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.CreateUser input{
    width: 300px;
    height: 30px;
    margin: 10px;
}
.CreateUser label{
    font-size: 1.2rem;
}
.submit{
    background-color: rgb(178, 228, 181);
    width: 100px;
    height: 30px;
    box-shadow: 0 0 10px red;
}