.users{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.head,.user{
    display: grid;
    width: 60%;
    height: 40px;
    align-items: center;
    text-align: center;
    background-color: rgb(216, 203, 203);
    grid-template-columns: 25% 25% 25% 12% 12%;
}
.head{
    background-color: rgb(138, 131, 131);
}
.del_b,.update_b{
    background-color: rgb(247, 67, 67);
    width: 55%;
    height: 25px;
    border-radius: 10%;
    border: 0%;
    box-shadow: 0px 0px 5px red;
    font-size: 1.1rem;
}
.update_b{
    background-color: rgb(219, 219, 95);
    box-shadow: 0px 0px 5px rgb(210, 223, 31);
}
.del_b:hover,.update_b:hover{
    cursor: pointer;
}
.update_b a{
    color: black;
}